// main: style.scss
@import '../global/vars';
@import '../global/mixin';

.flex-hold-5 {
  &.margins-wide {
    margin-top: 33px;
    align-items: center;
    justify-content: center;

    .flex-hold-child {
      position: relative;
      -webkit-box-flex: 1;
      width: calc(20% - 16px);
      margin: 0 20px 20px 0;
    }

    .flex-hold-child:nth-child(5n) {
      margin-right: 0;
    }

  }
}

.flex-hold-3 {
  &.margins-wide {
    margin-top: 33px;
    align-items: center;
    justify-content: center;

    .flex-hold-child {
      position: relative;
      -webkit-box-flex: 1;
      width: calc(33.333333% - 22px);
      margin: 0 33px 33px 0;
    }

    .flex-hold-child:nth-child(3n) {
      margin-right: 0;
    }

    &.books-listing {
      justify-content: start;
    }
  }
}

.flex-hold-2 {
  &.margins-wide {
    margin-top: 34px;
    align-items: center;
    justify-content: center;

    .flex-hold-child {
      position: relative;
      -webkit-box-flex: 1;
      width: calc(50% - 17px);
      margin: 0 34px 34px 0;
    }

    .flex-hold-child:nth-child(2n) {
      margin-right: 0;
    }
  }
}

.masonry-grid {
  position: relative;
  width: calc(100% + 34px);
  left: -17px;
  margin-top: 14px;

  &.masonry-three {

    .flex-hold-child,
    .grid-sizer {
      position: relative;
      float: left;
      width: calc(33.333333% - 34px);
      padding: 17px;
    }
  }

  &.masonry-two {

    .flex-hold-child,
    .grid-sizer {
      position: relative;
      float: left;
      width: calc(50% - 34px);
      padding: 17px;
    }
  }
}