// main: style.scss
@import '../global/vars';
@import '../global/mixin'; // header

#preheader {
  position: relative;
  z-index: -1;
  display: block;
  width: 100vw;
  height: $header-height;
  @include define-basic-transition(all, 0.3s);
}

#header {
  height: $header-height;
  @include define-basic-transition(all, 0.3s);
}

#head-overlay {
  top: calc(#{$header-height} + 1px);
  right: -211px;
  //width: 210px;
  width: 30vw;
  height: calc(100dvh - #{$header-height});
}

.overlay-in {
  right: 0 !important;
  opacity: 1 !important;
  visibility: visible !important;
  pointer-events: all !important;
}

.overlay-content {
  position: relative;
  padding: 20px 0;
  width: 100%;
  text-align: right;
}

.scroll-opportunity {
  position: relative;
  display: block;
  width: calc(100% + 18px);
  height: calc(100vh - #{$header-height});
  overflow-y: scroll;
  overflow-x: visible;
}

#header-structure {
  position: relative;
  width: 100%;
  height: $header-height;
  @include flex-wrap;
  @include flex-verticalize;

  .logo {
    position: relative;
    -webkit-box-flex: 1;
    width: $logo-width;
    container-type: inline-size;
    font-weight: $font-weight-1;
    font-size: 30px;
    line-height: 30px;
    white-space: nowrap;

    .imaged {
      position: absolute;
      top: 10px;
      left: 0;
      width: 100%;
      height: calc(100% - 20px);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 0 50%;
      @include define-basic-transition(opacity, 0.3s);
    }

    &.pictured {
      height: 100%;
    }

    &:hover {
      .imaged {
        opacity: 0.5;
      }
    }
  }

  .menu {
    position: relative;
    -webkit-box-flex: 1;
    width: calc(100% - #{$logo-width} - #{$hamburger-width});
    text-align: right;
    font-size: 18px;

    &.full-width-navi {
      width: calc(100% - #{$logo-width});

      .navi-info {
        padding-right: 0;
      }

      ul {
        padding-right: 0;
        margin-right: 0;
        border-right: none;
      }
    }

    ul {
      padding-right: 15px;
      margin-right: 15px;
      border-right: solid 1px;
      display: inline-block;

      li {
        position: relative;
        display: inline-block;
        margin-right: 15px;

        &:last-child {
          margin-right: 0;

          .sub-menu {
            margin-left: -160px;
            text-align: right;
          }
        }

        &.mega-menu-js-trigger,
        &.menu-item-has-children {
          &:hover {
            .sub-menu {
              height: auto;
              pointer-events: all;
              opacity: 1;
            }
          }

          a {
            cursor: context-menu;

            &:before {
              position: absolute;
              left: 50%;
              bottom: -16px;
              content: "❯";
              font-size: 10px;
              @include define-rotate (90);
            }
          }
        }
      }

      .current-page-ancestor,
      .current_page_item {}

      .sub-menu {
        position: absolute;
        z-index: 9997 !important;
        top: 40px;
        left: 50%;
        width: 180px;
        margin-left: -90px;
        padding: 15px 0 !important;
        text-transform: none;
        //-webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
        //-moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
        //box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
        opacity: 0;
        pointer-events: none;
        @include define-basic-transition(opacity, 0.15s);
        overflow: visible;
        border: none;
        text-align: center;

        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: -20px;
          width: 100%;
          height: 20px;
        }

        li {
          width: 100%;
          padding: 0 0 10px;
          margin: 0 0 10px;
          border-bottom: solid 1px;

          &:last-child {
            border-bottom: none;
            padding: 0;
            margin: 0;
          }

          a {
            display: inline-block;
            width: calc(100% - 30px);
            padding: 0 15px;
            margin: 0;
            cursor: pointer;

            &:before {
              content: "";
            }
          }
        }
      }
    }
  }

  .hamburger {
    position: relative;
    -webkit-box-flex: 1;
    width: $hamburger-width;
  }
}

.list {
  position: relative;
  display: block;
  width: 12px;
  height: 12px;

  span {
    position: absolute;
    line-height: 0;
    width: 4px;
    height: 4px;

    &:nth-child(1) {
      top: 2px;
      left: -1px;
    }

    &:nth-child(2) {
      top: 2px;
      right: 1px;
    }

    &:nth-child(3) {
      bottom: -2px;
      left: -1px;
    }

    &:nth-child(4) {
      bottom: -2px;
      right: 1px;
    }
  }
}

.menu-overlay {
  position: relative;

  ul {
    li {
      display: block;
      border-bottom: 1px solid;
      margin-bottom: 15px;
      padding-bottom: 15px;
      padding-right: 30px;

      &:last-child {
        margin-bottom: 0;
      }

      ul {
        li {
          display: block;
          border-bottom: none;
          margin-top: 10px;
          margin-bottom: 0;
          padding-bottom: 0;
          padding-right: 0;

          &:after {
            content: " -";
          }
        }
      }
    }
  }
}

#footer {
  .right {
    text-align: right;
  }
}