$break-fullhd: 1920px;
$break-desktop-end: 1919px;
$break-desktop-start: 1024px;
$break-tablet-end: 1023px;
$break-mobile-start: 1px;
// fonts vars
$font-main: 'Dosis', sans-serif;
$font-weight-1: 400; //regular
$font-weight-2: 600; //medium
// colors vars
$color-1: #303030;
$color-2: #4D4D4D;
$color-3: #AFAFAF;
$color-4: #F9F9F9;
$color-5: #FFFFFF;


$color-1-dark: #FFFFFF;
$color-2-dark: #F9F9F9;
$color-3-dark: #AFAFAF;
$color-4-dark: #2D2D2D;
$color-5-dark: #191919;

$color-6: #64D31C;
$color-7: #cc0a0a;

//header
$header-height: 65px;
$logo-width: 170px;
$hamburger-width: 25px;

$header-mob-height: 55px;
$logo-mob-width: 140px;
$hamburger-mob-width: 25px;

$title-fix: 40px;
$title-fix-mob: 45px;

//fonts desktop
$h1-size-desktop: 20px;
$h1-lineheight-desktop: 28px;
$h1-marginbottom-desktop: 23px;

$h2-size-desktop: 20px;
$h2-lineheight-desktop: 28px;
$h2-marginbottom-desktop: 23px;

$h3-size-desktop: 20px;
$h3-lineheight-desktop: 28px;
$h3-marginbottom-desktop: 23px;

$h4-size-desktop: 16px;
$h4-lineheight-desktop: 24px;
$h4-marginbottom-desktop: 19px;

$h6-size-desktop: 14px;
$h6-lineheight-desktop: 22px;
$h6-marginbottom-desktop: 17px;

$paragraph-size-desktop: 14px;
$paragraph-lineheight-desktop: 22px;
$paragraph-marginbottom-desktop: 22px;

$cta1-size-desktop: 12px;
$cta1-lineheight-desktop: 20px;
$cta1-marginbottom-desktop: 10px;


$logo-size-desktop: 20px;
$logo-lineheight-desktop: 23px;

$logo-size-smartphone: 16px;
$logo-lineheight-smartphone: 19px;
