@import 'global-vars';
@import 'global-mixin';

// wrappers and more

.only-desktop {
  display: none;
}

.wrapper {
  position:relative;
  width: 100%;
	margin: 0 auto;
}

.wrapper-padded {
  position:relative;
  width: calc(100% - 30px);
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.wrapper-padded-more {
  position:relative;
  width: 100%;
	margin: 0 auto;
}

.wrapper-padded-more-840, .wrapper-padded-more-650 {
  position:relative;
  width: calc(100% - 20px);
  margin: 0 auto;
  padding: 0 10px 0 10px;
}

// paddings- margins

.plain-page {
  @include define-margins(30px, 0, 0, 0);
}

.only-explorer {
  display: none !important;
}

.photo-frame {
  position: relative;
  width: 100%;
  height: calc(100vh - #{$header-height} - #{$title-fix-mob});
}

.photo-hold {
  position: relative;
  width: 100%;
  height: calc(100vh - #{$header-height} - #{$title-fix-mob});
  margin: 0 0 0 0;
  img {
    width: 100%;
    height: calc(100vh - #{$header-height} - #{$title-fix-mob});
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   .no-explorer {
     display: none;
   }
   .only-explorer {
     position: absolute;
     left: 0;
     top: 0;
     display: block;
     width: 100%;
     height: 100%;
     background-size: contain;
     background-repeat: no-repeat;
     background-position: 50% 50%;
     display: block !important;
   }
}

.navi-click {
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
  pointer-events: none;

}


.absl_swipe {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  @include define-basic-transition(opacity,0.3s);
  opacity: 0;
  &.swipe-info {
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50px;
      height: 50px;
      margin: -25px 0 0 0;
      background-image: url(images/swipe.svg);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;
    }
    background-color: rgba(25, 25, 25, 0.8);
    opacity: 1;
  }
}

.photo-navi {
  position: relative;
  padding: 20px 0 15px 0;
}

// flex boxes

.flex-hold {
	position: relative;
	width: 100%;
  @include flex-wrap;
}

.flex-hold-title {
  position: relative;
  display: block;
  width: 100%;
  text-align: center !important;
  margin: 10px 0 0 0;
}

.flex-hold-3, .flex-hold-5 {
  &.margins-wide {
    margin-top: 33px;
    .flex-hold-child {
      position: relative;
      -webkit-box-flex: 1;
      width: 100%;
      margin: 0 0 33px 0;
    }
  }
}

.gallery-thumb-box {
  margin: 20px 0;
}

.gallery-thumb {
  display: inline-block;
  width: calc(25% - 20px);
  margin: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


// social list

.inline-socials {
  width: auto;
  margin: 0;
  li {
    text-align: center !important;
    display: inline-block;
    margin: 0 10px 0 0;
    overflow: hidden;
  }
}

.loading-transition-effect {
  top: calc(#{$header-mob-height} + 1px);
  height: calc(100vh - #{$header-mob-height});
}
