// main: style.scss
@import 'global-vars';
@import 'global-mixin';

.flex-hold-3,
.flex-hold-5 {
  &.margins-wide {
    margin-top: 33px;
    align-items: center;
    justify-content: center;

    .flex-hold-child {
      position: relative;
      -webkit-box-flex: 1;
      width: calc(25% - 27px);
      margin: 0 36px 36px 0;
    }

    .flex-hold-child:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.masonry-grid {
  position: relative;
  width: calc(100% + 34px);
  left: -17px;
  margin-top: 14px;

  &.masonry-three,
  &.masonry-two {
    .flex-hold-child,
    .grid-sizer {
      position: relative;
      float: left;
      width: calc(25% - 34px);
      padding: 17px;
    }
  }
}