// main: style.scss
@import 'global-vars';
@import 'global-mixin';

.wp-caption.aligncenter,
.wp-caption.alignnone {
	position: relative;
	width: 100% !important;
	display: block;
	margin-bottom: 15px;
}

.wp-caption.aligncenter img,
.wp-caption.alignleft img,
.wp-caption.alignnone img,
.wp-caption.alignright img {
	width: 100% !important;
	height: auto !important;
	padding: 0;
	margin: 0;
}

.wp-caption-text,
.wp-caption.aligncenter .wp-caption-text,
.wp-caption.alignleft .wp-caption-text,
.wp-caption.alignnone .wp-caption-text,
.wp-caption.alignright .wp-caption-text {
	padding: 10px 10px 0;
	margin: 0 !important;
	font-weight: $font-weight-1;
	font-size: $cta1-size-desktop;
	line-height: $cta1-lineheight-desktop;
	word-wrap: break-word;
	font-style: italic;
}