// main: style.scss
@import 'global-vars';
@import 'global-mixin';
// header
#preheader {
  position: relative;
  display: block;
  width: 100vw;
  height: $header-mob-height;
}

#header {
  height: $header-mob-height;
}

#head-overlay {
  top: calc(#{$header-mob-height} + 1px);
  right: -100vw;
  width: 100vw;
  height: calc(100vh - #{$header-mob-height});
}

.overlay-in {
  right: 0 !important;
  opacity: 1 !important;
}

.overlay-content {
  position: relative;
  padding: 20px 0;
  width: 100%;
  text-align: right;
}

.scroll-opportunity {
  position: relative;
  display: block;
  width: calc(100% + 18px);
  height: calc(100vh - #{$header-mob-height});
  overflow-y: scroll;
  overflow-x: visible;
}

#header-structure {
  position: relative;
  width: 100%;
  height: $header-mob-height;
  @include flex-wrap;
  @include flex-verticalize;

  .logo {
    position: relative;
    -webkit-box-flex: 1;
    width: $logo-mob-width;
    font-weight: $font-weight-2;
    font-size: $logo-size-smartphone;
    line-height: $logo-lineheight-smartphone;

    .imaged {
      position: absolute;
      top: 8px;
      left: 0;
      width: 100%;
      height: calc(100% - 16px);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 0 50%;
    }

    &.pictured {
      height: 100%;
    }
  }

  .menu {
    position: relative;
    -webkit-box-flex: 1;
    width: calc(100% - #{$logo-mob-width} - #{$hamburger-mob-width});
    text-align: right;

    .top-menu {
      display: none;
    }

    ul {
      padding-right: 15px;
      margin-right: 15px;
      border-right: $color-5 solid 1px;
      display: inline-block;

      li {
        display: inline-block;
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }
      }

      .current-page-ancestor,
      .current_page_item {
        font-weight: $font-weight-2;
      }
    }
  }

  .hamburger {
    position: relative;
    -webkit-box-flex: 1;
    width: $hamburger-mob-width;
  }
}

.list {
  position: relative;
  display: block;
  width: 12px;
  height: 12px;

  span {
    position: absolute;
    line-height: 0;
    width: 4px;
    height: 4px;

    &:nth-child(1) {
      top: 2px;
      left: -1px;
    }

    &:nth-child(2) {
      top: 2px;
      right: 1px;
    }

    &:nth-child(3) {
      bottom: -2px;
      left: -1px;
    }

    &:nth-child(4) {
      bottom: -2px;
      right: 1px;
    }
  }
}

.menu-overlay {
  position: relative;

  ul {
    li {
      display: block;
      border-bottom: 1px $color-5 solid;
      margin-bottom: 15px;
      padding-bottom: 15px;
      padding-right: 35px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}