@charset "UTF-8";
a,
abbr,
acronym,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body {
  line-height: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

*:focus {
  outline: 0;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
td,
th {
  font-weight: normal;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  margin: 0;
  padding: 0;
}

a:focus {
  outline: thin dotted;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
}

del {
  color: #333;
}

ins {
  background: #fff9c0;
  text-decoration: none;
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin: 24px 24px 1.714285714rem;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

small {
  font-size: smaller;
}

img {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

/* Clearing floats */
.clear:after,
.format-status .entry-header:after,
.wrapper:after {
  clear: both;
}

.clear:after,
.clear:before,
.format-status .entry-header:after,
.format-status .entry-header:before,
.wrapper:after,
.wrapper:before {
  display: table;
  content: "";
}

html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  border: none;
  outline: none !important;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.grecaptcha-badge {
  visibility: collapse !important;
}

.captcha-image {
  display: block;
  width: 100%;
  border: none !important;
  margin-top: 20px;
  text-align: left !important;
}

.captcha-image .cf7ic_instructions {
  display: block !important;
}

.stripe {
  position: relative;
  width: 100%;
}

.aligncenter {
  text-align: center;
}

.alignright {
  text-align: right;
}

.alignleft {
  text-align: left;
}

.allupper {
  text-transform: uppercase;
}

.clearer {
  clear: both;
}

.no-the-100 {
  width: 100%;
}

.no-the-100 img {
  width: 100%;
  height: auto;
}

.books-listing-cover {
  position: relative;
  width: 100%;
  margin: 0 0 10px;
}

.body-shaper {
  min-height: 100vh;
}

.min-height-footers {
  min-height: 90vh;
}

.thumbs-gallery {
  display: none;
}

.verticalize {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.delight-area {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.all-pointer-events {
  pointer-events: all !important;
}

.delighted .delight-area {
  opacity: 0.1;
}

.delighted .delight-area .not-delighted {
  opacity: 1 !important;
}

.current_thumb_hilight {
  opacity: 0.15;
}

.topline {
  margin-top: 30px;
  padding: 20px 0 0;
}

.picture-info {
  margin-bottom: 20px;
}

.pay-picture button {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.embed-container {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.embed-container embed,
.embed-container iframe,
.embed-container object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navigation {
  display: none;
}

#infscr-loading {
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 0;
  display: block;
  width: calc(100% - 20px) !important;
  text-align: center;
  padding: 10px;
  display: none;
}

#infscr-loading p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 0 !important;
}

#infscr-loading img {
  display: none !important;
}

#paperplane-cookie-notice {
  position: fixed;
  z-index: 9999;
  width: calc(100% - 6px);
  bottom: 0;
  left: 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  transition: opacity 1s;
  pointer-events: none;
  opacity: 0;
}

#paperplane-cookie-notice.shown {
  pointer-events: all;
  opacity: 1;
}

#paperplane-cookie-notice .paperplane-cookie-notice-container {
  position: relative;
  width: calc(100% - 20px);
  max-width: 768px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

#paperplane-cookie-notice .paperplane-cookie-notice-container .paperplane-message-cookie-accepted,
#paperplane-cookie-notice .paperplane-cookie-notice-container .paperplane-message-cookie-refused {
  display: none;
}

#paperplane-cookie-notice a {
  display: inline-block;
  margin: 5px;
  padding: 3px 6px;
  text-transform: uppercase;
}

.paperplane-gdpr-content-message {
  position: relative;
  padding: 10px;
  margin: 20px 0;
  text-transform: uppercase;
  cursor: pointer;
}

.paperplane-gdpr-content-message p {
  margin: 0;
}

.cookies-list-block {
  border-bottom: solid 1px;
  padding-bottom: 10px;
  margin-top: 20px;
}

.hambuger-element {
  width: 25px;
  height: 16px;
  position: relative;
  z-index: 9998;
  padding: 0;
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.hambuger-element span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.hambuger-element span:nth-child(1) {
  top: 0;
}

.hambuger-element span:nth-child(2),
.hambuger-element span:nth-child(3) {
  top: 7px;
}

.hambuger-element span:nth-child(4) {
  bottom: 0;
}

.hambuger-element.open span:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%;
}

.hambuger-element.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hambuger-element.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hambuger-element.open span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%;
}

a.absl:link {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.category-list {
  position: relative;
  padding-top: 10px;
}

.category-list:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 42px;
  height: 1px;
  margin-left: -21px;
}

.category-list a:link:after {
  content: ", ";
}

.category-list a:link:last-child:after {
  content: "";
}

.category-list span:after {
  content: ", ";
}

.category-list span:last-child:after {
  content: "";
}

#header {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  border-bottom: 1px solid;
}

#head-overlay {
  position: fixed;
  z-index: 9998;
  display: block;
  opacity: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  border-left: 1px solid;
}

#footer {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  padding: 10px 0;
  margin: 30px 0 0;
  font-size: 12px !important;
  border-top: 1px solid;
}

#footer p {
  display: inline-block !important;
  font-size: 12px;
}

#footer p:last-child {
  margin-bottom: 0;
}

.news-item {
  width: 100%;
  padding: 0 0 10px;
  margin: 20px 0 0;
  border-bottom: 1px solid;
}

.lined {
  border-bottom: 1px solid;
}

.topline {
  border-top: 1px solid;
}

.pointered {
  cursor: pointer;
}

.video_frame {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.video_frame embed,
.video_frame iframe,
.video_frame object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'icomoon';
  src: url("assets/fonts/icomoon.eot?evwnk4");
  src: url("assets/fonts/icomoon.eot?evwnk4#iefix") format("embedded-opentype"), url("assets/fonts/icomoon.ttf?evwnk4") format("truetype"), url("assets/fonts/icomoon.woff?evwnk4") format("woff"), url("assets/fonts/icomoon.svg?evwnk4#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fas-fa-adjust:before {
  content: "\e906";
}

.icon-fas-fa-pause:before {
  content: "\e900";
}

.icon-fas-fa-play:before {
  content: "\e901";
}

.icon-fas-fa-credit-card:before {
  content: "\e902";
}

.icon-fas-fa-eye:before {
  content: "\e903";
}

.icon-fas-fa-list:before {
  content: "\e904";
}

.icon-fas-fa-step-backward:before {
  content: "\e905";
}

h1 {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 23px;
  word-wrap: break-word;
}

.news-post h1 {
  margin-bottom: 5px;
}

.book-post h1 {
  margin-bottom: 30px;
}

h2 {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 23px;
  word-wrap: break-word;
}

.menu-overlay,
.menu-overlay p {
  font-size: 14px;
  line-height: 22px;
}

h3 {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 23px;
  word-wrap: break-word;
}

h4,
h5 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 19px;
  word-wrap: break-word;
}

.as-h4 {
  font-size: 16px;
  line-height: 24px;
}

.news-item .as-h4 {
  margin-bottom: 5px;
}

.menu,
.menu p {
  font-size: 14px;
  line-height: 22px;
}

h6 {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 17px;
  word-wrap: break-word;
}

.navi-text {
  font-size: 14px;
  line-height: 18px;
}

p {
  font-size: 14px;
  line-height: 22px;
  margin: 0 0 22px;
  word-wrap: break-word;
  padding: 0;
}

.cta-1 {
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.news-post .cta-1 {
  margin-bottom: 30px;
}

.content-styled {
  word-wrap: break-word;
}

.content-styled a {
  text-decoration: underline;
}

.content-styled strong {
  font-weight: 600;
}

.content-styled ul {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 22px;
  list-style-position: inside;
  list-style: none;
  padding: 0;
}

.content-styled ul li {
  display: table-row;
}

.content-styled ul li:before {
  position: relative;
  display: table-cell;
  content: '•';
  font-size: 20px;
  font-weight: 600;
  padding: 0 15px 0 0;
}

.content-styled ol {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 22px;
  list-style-type: none;
  list-style-type: decimal;
  padding: 0;
  counter-reset: li-counter;
}

.content-styled ol > li {
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0 0 0 20px;
  display: table-row;
}

.content-styled ol > li:before {
  position: relative;
  display: table-cell;
  top: 0;
  left: 0;
  font-weight: 600;
  font-size: 14px;
  text-align: right;
  content: counter(li-counter) " ";
  counter-increment: li-counter;
  padding: 0 15px 0 0;
}

.blurred {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}

.lazy {
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0.5;
}

.lazy-bg.lazy {
  position: relative;
  opacity: 1;
}

.lazy-loading {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}

.lazy-loaded {
  filter: blur(0);
  -webkit-filter: blur(0);
  -moz-filter: blur(0);
  -o-filter: blur(0);
  -ms-filter: blur(0);
  opacity: 1;
}

html.is-animating .loading-transition-effect {
  opacity: 1;
}

.loading-transition-effect {
  position: fixed;
  z-index: 9999;
  left: 0;
  width: 100vw;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.spinner-in {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

.spinner {
  margin: 0 auto;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  100%,
  80% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  100%,
  80% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.sk-folding-cube {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -20px;
  width: 40px;
  height: 40px;
  opacity: 0.8 !important;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  100%,
  90% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  100%,
  90% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

.swipe-info:before {
  -webkit-animation: swipe-info-move 1.4s infinite ease-in-out both;
  animation: swipe-info-move 1.4s infinite ease-in-out both;
}

@-webkit-keyframes swipe-info-move {
  0%,
  33% {
    margin-left: -15px;
  }
  33%,
  66% {
    margin-left: -15px;
  }
  100%,
  66% {
    margin-left: -15px;
  }
}

@keyframes swipe-info-move {
  0%,
  33% {
    margin-left: -35px;
  }
  33%,
  66% {
    margin-left: -5px;
  }
  100%,
  66% {
    margin-left: -35px;
  }
}

body.clear-theme {
  color: #303030;
  background-color: #FFFFFF;
}

body.clear-theme .eye i {
  background-color: #FFFFFF;
}

.clear-theme div,
.clear-theme footer,
.clear-theme header,
.clear-theme li,
.clear-theme nav,
.clear-theme ul {
  border-color: #F9F9F9 !important;
}

.clear-theme .logo-dark {
  display: none;
}

.clear-theme input[type],
.clear-theme textarea {
  border-color: #AFAFAF !important;
}

.clear-theme ::-moz-selection {
  background: #303030;
  color: #FFFFFF;
}

.clear-theme ::selection {
  background: #303030;
  color: #FFFFFF;
}

.clear-theme ::-moz-selection {
  background: #303030;
  color: #FFFFFF;
}

.clear-theme ::-webkit-selection {
  background: #303030;
  color: #FFFFFF;
}

.clear-theme ::-webkit-input-placeholder {
  color: #303030;
}

.clear-theme :-moz-placeholder {
  color: #303030;
}

.clear-theme ::-moz-placeholder {
  color: #303030;
}

.clear-theme #paperplane-cookie-notice {
  background-color: #FFFFFF !important;
  color: #4D4D4D !important;
}

.clear-theme #paperplane-cookie-notice a {
  background-color: #4D4D4D;
  color: #FFFFFF !important;
}

.clear-theme .paperplane-gdpr-content-message {
  background-color: #303030;
  color: #FFFFFF;
}

.clear-theme .open_head .hambuger-element span {
  background-color: #303030 !important;
}

.clear-theme .hambuger-element span {
  background: #303030;
}

.clear-theme .hambuger-element:hover span {
  background: #AFAFAF;
}

.clear-theme .txt-1 {
  color: #303030;
}

.clear-theme .txt-2 {
  color: #303030;
}

.clear-theme .txt-3 {
  color: #AFAFAF;
}

.clear-theme .txt-4 {
  color: #F9F9F9;
}

.clear-theme .txt-5 {
  color: #FFFFFF;
}

.clear-theme .category-list:before {
  background-color: #303030;
}

.clear-theme .content-styled ul li:before {
  color: #303030;
}

.clear-theme ol > li:before {
  color: #303030;
}

.clear-theme .bg-1 {
  background-color: #303030;
}

.clear-theme .bg-2 {
  background-color: #303030;
}

.clear-theme .bg-3 {
  background-color: #AFAFAF;
}

.clear-theme .bg-4 {
  background-color: #F9F9F9;
}

.clear-theme .bg-5 {
  background-color: #FFFFFF;
}

.clear-theme a:link,
.clear-theme a:visited {
  color: #303030;
}

.clear-theme a:hover {
  color: #AFAFAF;
}

.clear-theme .current-menu-item a,
.clear-theme .current-page-ancestor a {
  color: #AFAFAF !important;
}

.clear-theme .navi-info {
  color: #AFAFAF;
}

.clear-theme .navi-info a:link,
.clear-theme .navi-info a:visited {
  color: #AFAFAF;
}

.clear-theme .navi-info a:hover {
  color: #4D4D4D;
}

.clear-theme .highlight:hover,
.clear-theme .list:hover {
  color: #303030;
}

.clear-theme .txt-4:link, .clear-theme .txt-4:visited {
  color: #4D4D4D;
}

.clear-theme .txt-4:hover {
  color: #303030;
}

.clear-theme .pay-picture button {
  color: #64D31C;
}

.clear-theme .flex-hold-title {
  background-color: rgba(255, 255, 255, 0.85);
}

.clear-theme .sk-folding-cube .sk-cube:before {
  background-color: #303030;
}

.clear-theme .form-hold label {
  color: #303030;
}

.clear-theme .form-hold input[type=email],
.clear-theme .form-hold input[type=number],
.clear-theme .form-hold input[type=tel],
.clear-theme .form-hold input[type=text] {
  color: #303030;
}

.clear-theme .form-hold textarea {
  color: #303030;
}

.clear-theme .form-hold select {
  color: #F9F9F9;
}

.clear-theme .form-hold input[type=submit] {
  color: #FFFFFF;
  background-color: #303030;
}

.clear-theme .form-hold input[type=submit]:hover {
  color: #303030;
  background-color: #F9F9F9;
}

body.dark-theme {
  color: #FFFFFF;
  background-color: #191919;
}

body.dark-theme .eye i {
  background-color: #191919;
}

.dark-theme div,
.dark-theme footer,
.dark-theme header,
.dark-theme input[type],
.dark-theme li,
.dark-theme nav,
.dark-theme textarea,
.dark-theme ul {
  border-color: #2D2D2D !important;
}

.dark-theme .logo-clear {
  display: none;
}

.dark-theme ::-moz-selection {
  background: #FFFFFF;
  color: #191919;
}

.dark-theme ::selection {
  background: #FFFFFF;
  color: #191919;
}

.dark-theme ::-moz-selection {
  background: #FFFFFF;
  color: #191919;
}

.dark-theme ::-webkit-selection {
  background: #FFFFFF;
  color: #191919;
}

.dark-theme ::-webkit-input-placeholder {
  color: #FFFFFF;
}

.dark-theme :-moz-placeholder {
  color: #FFFFFF;
}

.dark-theme ::-moz-placeholder {
  color: #FFFFFF;
}

.dark-theme #paperplane-cookie-notice {
  background-color: #191919 !important;
  color: #AFAFAF !important;
}

.dark-theme #paperplane-cookie-notice a {
  background-color: #AFAFAF;
  color: #191919 !important;
}

.dark-theme .paperplane-gdpr-content-message {
  background-color: #FFFFFF;
  color: #191919;
}

.dark-theme .open_head .hambuger-element span {
  background-color: #FFFFFF !important;
}

.dark-theme .hambuger-element span {
  background: #FFFFFF;
}

.dark-theme .hambuger-element:hover span {
  background: #AFAFAF;
}

.dark-theme .txt-1 {
  color: #FFFFFF;
}

.dark-theme .txt-2 {
  color: #FFFFFF;
}

.dark-theme .txt-3 {
  color: #AFAFAF;
}

.dark-theme .txt-4 {
  color: #2D2D2D;
}

.dark-theme .txt-5 {
  color: #191919;
}

.dark-theme .content-styled ul li:before {
  color: #FFFFFF;
}

.dark-theme ol > li:before {
  color: #FFFFFF;
}

.dark-theme .bg-1 {
  background-color: #FFFFFF;
}

.dark-theme .bg-2 {
  background-color: #FFFFFF;
}

.dark-theme .bg-3 {
  background-color: #AFAFAF;
}

.dark-theme .bg-4 {
  background-color: #2D2D2D;
}

.dark-theme .bg-5 {
  background-color: #191919;
}

.dark-theme .category-list:before {
  background-color: #FFFFFF;
}

.dark-theme a:link,
.dark-theme a:visited {
  color: #FFFFFF;
}

.dark-theme a:hover {
  color: #AFAFAF;
}

.dark-theme .current-menu-item a,
.dark-theme .current-page-ancestor a {
  color: #AFAFAF !important;
}

.dark-theme .navi-info {
  color: #AFAFAF;
}

.dark-theme .navi-info a:link,
.dark-theme .navi-info a:visited {
  color: #AFAFAF;
}

.dark-theme .navi-info a:hover {
  color: #F9F9F9;
}

.dark-theme .highlight:hover,
.dark-theme .list:hover {
  color: #FFFFFF;
}

.dark-theme .txt-4:link, .dark-theme .txt-4:visited {
  color: #F9F9F9;
}

.dark-theme .txt-4:hover {
  color: #FFFFFF;
}

.dark-theme .pay-picture button {
  color: #64D31C;
}

.dark-theme .flex-hold-title {
  background-color: rgba(25, 25, 25, 0.85);
}

.dark-theme .sk-folding-cube .sk-cube:before {
  background-color: #FFFFFF;
}

.dark-theme .form-hold label {
  color: #FFFFFF;
}

.dark-theme .form-hold input[type=email],
.dark-theme .form-hold input[type=number],
.dark-theme .form-hold input[type=tel],
.dark-theme .form-hold input[type=text] {
  color: #FFFFFF;
}

.dark-theme .form-hold textarea {
  color: #FFFFFF;
}

.dark-theme .form-hold select {
  color: #2D2D2D;
}

.dark-theme .form-hold input[type=submit] {
  color: #191919;
  background-color: #FFFFFF;
}

.dark-theme .form-hold input[type=submit]:hover {
  color: #FFFFFF;
  background-color: #2D2D2D;
}

@media screen and (min-width: 1px) and (max-width: 1023px) {
  #preheader {
    position: relative;
    display: block;
    width: 100vw;
    height: 55px;
  }
  #header {
    height: 55px;
  }
  #head-overlay {
    top: calc(55px + 1px);
    right: -100vw;
    width: 100vw;
    height: calc(100vh - 55px);
  }
  .overlay-in {
    right: 0 !important;
    opacity: 1 !important;
  }
  .overlay-content {
    position: relative;
    padding: 20px 0;
    width: 100%;
    text-align: right;
  }
  .scroll-opportunity {
    position: relative;
    display: block;
    width: calc(100% + 18px);
    height: calc(100vh - 55px);
    overflow-y: scroll;
    overflow-x: visible;
  }
  #header-structure {
    position: relative;
    width: 100%;
    height: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #header-structure .logo {
    position: relative;
    -webkit-box-flex: 1;
    width: 140px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }
  #header-structure .logo .imaged {
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: calc(100% - 16px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 50%;
  }
  #header-structure .logo.pictured {
    height: 100%;
  }
  #header-structure .menu {
    position: relative;
    -webkit-box-flex: 1;
    width: calc(100% - 140px - 25px);
    text-align: right;
  }
  #header-structure .menu .top-menu {
    display: none;
  }
  #header-structure .menu ul {
    padding-right: 15px;
    margin-right: 15px;
    border-right: #FFFFFF solid 1px;
    display: inline-block;
  }
  #header-structure .menu ul li {
    display: inline-block;
    margin-right: 15px;
  }
  #header-structure .menu ul li:last-child {
    margin-right: 0;
  }
  #header-structure .menu ul .current-page-ancestor,
  #header-structure .menu ul .current_page_item {
    font-weight: 600;
  }
  #header-structure .hamburger {
    position: relative;
    -webkit-box-flex: 1;
    width: 25px;
  }
  .list {
    position: relative;
    display: block;
    width: 12px;
    height: 12px;
  }
  .list span {
    position: absolute;
    line-height: 0;
    width: 4px;
    height: 4px;
  }
  .list span:nth-child(1) {
    top: 2px;
    left: -1px;
  }
  .list span:nth-child(2) {
    top: 2px;
    right: 1px;
  }
  .list span:nth-child(3) {
    bottom: -2px;
    left: -1px;
  }
  .list span:nth-child(4) {
    bottom: -2px;
    right: 1px;
  }
  .menu-overlay {
    position: relative;
  }
  .menu-overlay ul li {
    display: block;
    border-bottom: 1px #FFFFFF solid;
    margin-bottom: 15px;
    padding-bottom: 15px;
    padding-right: 35px;
  }
  .menu-overlay ul li:last-child {
    margin-bottom: 0;
  }
  .menu-overlay ul li ul li {
    display: block;
    border-bottom: none;
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-right: 0;
  }
  .menu-overlay ul li ul li:after {
    content: " -";
  }
  .only-desktop {
    display: none;
  }
  .wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  .wrapper-padded {
    position: relative;
    width: calc(100% - 30px);
    margin: 0 auto;
    padding: 0 15px;
  }
  .wrapper-padded-more {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  .wrapper-padded-more-650,
  .wrapper-padded-more-840 {
    position: relative;
    width: calc(100% - 20px);
    margin: 0 auto;
    padding: 0 10px;
  }
  .plain-page {
    margin: 30px 0 0 0;
  }
  .only-explorer {
    display: none !important;
  }
  .photo-frame {
    position: relative;
    width: 100%;
    height: calc(100vh - 65px - 45px);
  }
  .photo-hold {
    position: relative;
    width: 100%;
    height: calc(100vh - 65px - 45px);
    margin: 0;
  }
  .photo-hold img {
    width: 100%;
    height: calc(100vh - 65px - 45px);
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
  }
  .navi-click {
    position: absolute;
    display: block;
    width: 1px;
    height: 1px;
    pointer-events: none;
  }
  .absl_swipe {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
  }
  .absl_swipe.swipe-info {
    background-color: rgba(25, 25, 25, 0.8);
    opacity: 1;
  }
  .absl_swipe.swipe-info:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin: -25px 0 0;
    background-image: url("assets/images/swipe.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .photo-navi {
    position: relative;
    padding: 20px 0 15px;
  }
  .flex-hold {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .flex-hold-title {
    position: relative;
    display: block;
    width: 100%;
    text-align: center !important;
    margin: 10px 0 0;
  }
  .flex-hold-2.margins-wide,
  .flex-hold-3.margins-wide,
  .flex-hold-5.margins-wide {
    margin-top: 33px;
  }
  .flex-hold-2.margins-wide .flex-hold-child,
  .flex-hold-3.margins-wide .flex-hold-child,
  .flex-hold-5.margins-wide .flex-hold-child {
    position: relative;
    -webkit-box-flex: 1;
    width: 100%;
    margin: 0 0 33px;
  }
  .masonry-grid {
    position: relative;
    margin-top: 10px;
  }
  .masonry-grid.masonry-three .flex-hold-child,
  .masonry-grid.masonry-three .grid-sizer, .masonry-grid.masonry-two .flex-hold-child,
  .masonry-grid.masonry-two .grid-sizer {
    position: relative;
    width: calc(100% - 20px);
    margin: 10px;
  }
  .gallery-thumb-box {
    margin: 20px 0;
  }
  .gallery-thumb {
    display: inline-block;
    width: calc(25% - 20px);
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  .loading-transition-effect {
    top: calc(55px + 1px);
    height: calc(100vh - 55px);
  }
  .wp-caption.aligncenter,
  .wp-caption.alignleft,
  .wp-caption.alignnone,
  .wp-caption.alignright {
    position: relative;
    width: 100% !important;
    display: block;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1024px) {
  #preheader {
    position: relative;
    z-index: -1;
    display: block;
    width: 100vw;
    height: 65px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  #header {
    height: 65px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  #head-overlay {
    top: calc(65px + 1px);
    right: -211px;
    width: 210px;
    height: calc(100vh - 65px);
  }
  .overlay-in {
    right: 0 !important;
    opacity: 1 !important;
  }
  .overlay-content {
    position: relative;
    padding: 20px 0;
    width: 100%;
    text-align: right;
  }
  .scroll-opportunity {
    position: relative;
    display: block;
    width: calc(100% + 18px);
    height: calc(100vh - 65px);
    overflow-y: scroll;
    overflow-x: visible;
  }
  #header-structure {
    position: relative;
    width: 100%;
    height: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #header-structure .logo {
    position: relative;
    -webkit-box-flex: 1;
    width: 170px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
  }
  #header-structure .logo .imaged {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: calc(100% - 20px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 50%;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
  }
  #header-structure .logo.pictured {
    height: 100%;
  }
  #header-structure .logo:hover .imaged {
    opacity: 0.5;
  }
  #header-structure .menu {
    position: relative;
    -webkit-box-flex: 1;
    width: calc(100% - 170px - 25px);
    text-align: right;
  }
  #header-structure .menu ul {
    padding-right: 15px;
    margin-right: 15px;
    border-right: solid 1px;
    display: inline-block;
  }
  #header-structure .menu ul li {
    display: inline-block;
    margin-right: 15px;
  }
  #header-structure .menu ul li:last-child {
    margin-right: 0;
  }
  #header-structure .menu ul .current-page-ancestor,
  #header-structure .menu ul .current_page_item {
    font-weight: 600;
  }
  #header-structure .hamburger {
    position: relative;
    -webkit-box-flex: 1;
    width: 25px;
  }
  .list {
    position: relative;
    display: block;
    width: 12px;
    height: 12px;
  }
  .list span {
    position: absolute;
    line-height: 0;
    width: 4px;
    height: 4px;
  }
  .list span:nth-child(1) {
    top: 2px;
    left: -1px;
  }
  .list span:nth-child(2) {
    top: 2px;
    right: 1px;
  }
  .list span:nth-child(3) {
    bottom: -2px;
    left: -1px;
  }
  .list span:nth-child(4) {
    bottom: -2px;
    right: 1px;
  }
  .menu-overlay {
    position: relative;
  }
  .menu-overlay ul li {
    display: block;
    border-bottom: 1px solid;
    margin-bottom: 15px;
    padding-bottom: 15px;
    padding-right: 45px;
  }
  .menu-overlay ul li:last-child {
    margin-bottom: 0;
  }
  .menu-overlay ul li ul li {
    display: block;
    border-bottom: none;
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-right: 0;
  }
  .menu-overlay ul li ul li:after {
    content: " -";
  }
  .only-mobile {
    display: none;
  }
  .wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  .wrapper-padded {
    position: relative;
    width: calc(100% - 50px);
    margin: 0 auto;
    padding: 0 25px;
  }
  .wrapper-padded-more {
    position: relative;
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
  }
  .wrapper-padded-more-840 {
    position: relative;
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
  }
  .wrapper-padded-more-650 {
    position: relative;
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
  }
  .plain-page {
    margin: 30px 0 0 0;
  }
  .only-explorer {
    display: none !important;
  }
  .photo-frame {
    position: relative;
    margin-top: 20px;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .photo-hold {
    position: relative;
    width: calc(100% - 60px);
    height: calc(100vh - 65px - 40px);
    margin: 0 0 0 30px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .photo-hold img {
    width: 100%;
    height: calc(100vh - 65px - 40px);
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
  }
  .eye {
    font-size: 14px;
    position: fixed;
    z-index: 9997;
    right: 25px;
    top: 10px;
    width: 40px;
    height: 80px;
    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
  }
  .eye i {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
  }
  .delighted .eye {
    pointer-events: all;
    opacity: 1;
  }
  .delighted #preheader {
    height: 0;
  }
  .delighted #header {
    opacity: 0;
    pointer-events: none;
  }
  .delighted .photo-frame {
    position: relative;
    margin-top: 0;
    width: 100%;
  }
  .delighted .photo-hold {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
  }
  .delighted .photo-hold img {
    width: 100%;
    height: 100vh;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
  }
  .delighted .navi-click-left a {
    cursor: url(assets/images/prev-icon-a.png), auto !important;
  }
  .delighted .navi-click-right a {
    cursor: url(assets/images/next-icon-a.png), auto !important;
  }
  .navi-click {
    position: absolute;
    display: block;
    width: 50%;
    height: 100%;
  }
  .navi-click a {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0;
  }
  .navi-click a:after {
    display: none;
  }
  .navi-click-left {
    left: 0;
    top: 0;
  }
  .navi-click-left a {
    cursor: url(assets/images/prev-icon.png), auto !important;
  }
  .navi-click-right {
    right: 0;
    top: 0;
  }
  .navi-click-right a {
    cursor: url(assets/images/next-icon.png), auto !important;
  }
  .absl_swipe {
    display: none;
  }
  .photo-navi {
    position: relative;
    padding: 20px 0 15px;
  }
  .flex-hold {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .flex-hold-child:hover .flex-hold-title {
    opacity: 1;
  }
  .flex-hold-title {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: calc(100% - 20px);
    height: 100%;
    padding: 0 10px;
    text-align: center !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .flex-hold-title div {
    width: 100%;
  }
  .gallery-thumb-box {
    margin: 20px 0;
  }
  .gallery-thumb {
    display: inline-block;
    width: 10.2%;
    min-height: 75px;
    margin: 2%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  .loading-transition-effect {
    top: calc(65px + 1px);
    height: calc(100vh - 65px);
  }
  .wp-caption.alignleft,
  .wp-caption.alignright {
    position: relative;
    width: 60% !important;
    display: block;
    margin-bottom: 15px;
  }
  .wp-caption.alignleft {
    float: left;
    margin-right: 15px;
  }
  .wp-caption.alignright {
    float: right;
    margin-left: 15px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1919px) {
  .flex-hold-5.margins-wide {
    margin-top: 33px;
    align-items: center;
    justify-content: center;
  }
  .flex-hold-5.margins-wide .flex-hold-child {
    position: relative;
    -webkit-box-flex: 1;
    width: calc(20% - 16px);
    margin: 0 20px 20px 0;
  }
  .flex-hold-5.margins-wide .flex-hold-child:nth-child(5n) {
    margin-right: 0;
  }
  .flex-hold-3.margins-wide {
    margin-top: 33px;
    align-items: center;
    justify-content: center;
  }
  .flex-hold-3.margins-wide .flex-hold-child {
    position: relative;
    -webkit-box-flex: 1;
    width: calc(33.333333% - 22px);
    margin: 0 33px 33px 0;
  }
  .flex-hold-3.margins-wide .flex-hold-child:nth-child(3n) {
    margin-right: 0;
  }
  .flex-hold-2.margins-wide {
    margin-top: 34px;
    align-items: center;
    justify-content: center;
  }
  .flex-hold-2.margins-wide .flex-hold-child {
    position: relative;
    -webkit-box-flex: 1;
    width: calc(50% - 17px);
    margin: 0 34px 34px 0;
  }
  .flex-hold-2.margins-wide .flex-hold-child:nth-child(2n) {
    margin-right: 0;
  }
  .masonry-grid {
    position: relative;
    width: calc(100% + 34px);
    left: -17px;
    margin-top: 14px;
  }
  .masonry-grid.masonry-three .flex-hold-child,
  .masonry-grid.masonry-three .grid-sizer {
    position: relative;
    width: calc(33.333333% - 34px);
    padding: 17px;
  }
  .masonry-grid.masonry-two .flex-hold-child,
  .masonry-grid.masonry-two .grid-sizer {
    position: relative;
    width: calc(50% - 34px);
    padding: 17px;
  }
}

@media screen and (min-width: 1920px) {
  .flex-hold-3.margins-wide,
  .flex-hold-5.margins-wide {
    margin-top: 33px;
    align-items: center;
    justify-content: center;
  }
  .flex-hold-3.margins-wide .flex-hold-child,
  .flex-hold-5.margins-wide .flex-hold-child {
    position: relative;
    -webkit-box-flex: 1;
    width: calc(25% - 27px);
    margin: 0 36px 36px 0;
  }
  .flex-hold-3.margins-wide .flex-hold-child:nth-child(4n),
  .flex-hold-5.margins-wide .flex-hold-child:nth-child(4n) {
    margin-right: 0;
  }
  .masonry-grid {
    position: relative;
    width: calc(100% + 34px);
    left: -17px;
    margin-top: 14px;
  }
  .masonry-grid.masonry-three .flex-hold-child,
  .masonry-grid.masonry-three .grid-sizer, .masonry-grid.masonry-two .flex-hold-child,
  .masonry-grid.masonry-two .grid-sizer {
    position: relative;
    width: calc(25% - 34px);
    padding: 17px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .no-explorer {
    display: none;
  }
  .explorer-exception .no-explorer {
    display: block;
  }
  .only-explorer {
    position: absolute !important;
    z-index: 2;
    left: 0;
    top: 0;
    display: block !important;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  .navi-click {
    z-index: 100;
  }
  .blurred {
    filter: blur(0);
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
  }
  .lazy {
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 1 !important;
  }
  .lazy-bg.lazy {
    position: relative;
    opacity: 1 !important;
  }
  .lazy-loading {
    filter: blur(0);
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    opacity: 1 !important;
  }
  .lazy-loaded {
    filter: blur(0);
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    opacity: 1 !important;
  }
}

.wp-caption.aligncenter,
.wp-caption.alignnone {
  position: relative;
  width: 100% !important;
  display: block;
  margin-bottom: 15px;
}

.wp-caption.aligncenter img,
.wp-caption.alignleft img,
.wp-caption.alignnone img,
.wp-caption.alignright img {
  width: 100% !important;
  height: auto !important;
  padding: 0;
  margin: 0;
}

.wp-caption-text,
.wp-caption.aligncenter .wp-caption-text,
.wp-caption.alignleft .wp-caption-text,
.wp-caption.alignnone .wp-caption-text,
.wp-caption.alignright .wp-caption-text {
  padding: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  word-wrap: break-word;
  font-style: italic;
  background-color: #FFFFFF;
}

.form-hold {
  position: relative;
  display: block;
  width: 100%;
}

.form-hold label {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  margin-bottom: 5px;
}

.form-hold input[type=email],
.form-hold input[type=number],
.form-hold input[type=tel],
.form-hold input[type=text] {
  position: relative;
  background-color: transparent;
  width: calc(100% - 22px);
  height: 40px;
  margin: 10px 0 0;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  margin-bottom: 15px;
  border: solid 1px;
}

.form-hold textarea {
  position: relative;
  background-color: transparent;
  width: calc(100% - 22px);
  height: 250px;
  margin: 10px 0 0;
  padding: 10px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  margin-bottom: 15px;
  resize: none;
  border: solid 1px;
}

.form-hold select {
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 40px;
  margin: 10px 0 0;
  padding: 0 2%;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 15px;
  font-weight: 400;
  border: solid 1px;
}

.form-hold input[type=submit] {
  position: relative;
  display: block;
  margin: 20px 0 0;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  border: none;
  padding: 15px 35px;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  white-space: normal;
  border: solid 1px;
  text-transform: uppercase;
}

.form-hold input[type=submit]:disabled {
  opacity: 0.5;
}

.form-hold input[type=email]:focus,
.form-hold input[type=number]:focus,
.form-hold input[type=tel]:focus,
.form-hold input[type=text]:focus,
.form-hold textarea:focus {
  border: solid 1px;
}

.form-hold select:active {
  border: solid 1px;
}

.form-hold input[type=email]:focus,
.form-hold input[type=number]:focus,
.form-hold input[type=tel]:focus,
.form-hold input[type=text]:focus,
.form-hold textarea:focus {
  border-color: #64D31C !important;
}

.form-hold select:active {
  border-color: #64D31C !important;
}

.form-hold .capt {
  margin: 20px 0 0;
}

.form-hold .wpcf7-mail-sent-ng,
.form-hold .wpcf7-not-valid-tip,
.form-hold .wpcf7-validation-errors {
  display: block !important;
  z-index: 99 !important;
  width: 96% !important;
  border: none !important;
  font-size: 14px !important;
  line-height: 130% !important;
  font-weight: 600 !important;
  padding: 2% !important;
  left: 0 !important;
  background-color: #cc0a0a !important;
  color: #FFFFFF !important;
}

.wpcf7-validation-errors {
  display: block !important;
  z-index: 99 !important;
  width: 96% !important;
  border: none !important;
  font-size: 14px !important;
  line-height: 130% !important;
  font-weight: 600 !important;
  padding: 2% !important;
  left: 0 !important;
  background-color: #cc0a0a !important;
  color: #FFFFFF !important;
}

.wpcf7-mail-sent-ok {
  display: block !important;
  z-index: 99 !important;
  width: 96% !important;
  border: none !important;
  font-size: 14px !important;
  line-height: 130% !important;
  font-weight: 600 !important;
  padding: 2% !important;
  left: 0 !important;
  background-color: #64D31C !important;
  color: #191919 !important;
}

.wpcf7-list-item {
  margin: 0 !important;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 10px;
  word-wrap: break-word;
}
